// Menu wrapper
.menu-list {
    width: 240px;
    // Menu Item
    .menu-item {
        margin-left: 0;
    }
}
.menu-popper {
    padding-bottom: 8px;
}
.menu-body {
    overflow-y: auto;
    // max-height: 500px;
}
// menu item
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    line-height: 1.8rem;
    font-weight: 600;
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.07);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
